.propagate{width: 100%;height: auto;}
.propagate img{width: 100%;height: auto;}

.crumbs{justify-content: space-between;margin: 15px auto;}
.crumbs_list{font-size: 14px;color: #ffffff;width: 500px;height: 30px;line-height: 30px;padding: 0 15px;background-color: #666666;border-radius: 12px;}
.crumbs_list span:nth-of-type(1){border-left: 2px solid #ffffff;padding-left: 10px;}
.crumbs_list span{color: #ffffff;}
.crumbs_nav{width: 400px;height: 30px;line-height: 30px;padding: 0 15px;}
.crumbs_nav li{margin: 0 10px;}

.content{background-color: rgba(245, 247, 246, 1);padding: 35px;margin-bottom: 20px;}
.content p{text-indent: 2em;line-height: 170%;}
